---
import Icon from "../fontawesome/Icon.astro"

export enum SectionNames {
    RESUME = 'resume',
    INFO = 'info',
    PORTFOLIO = 'porfolio',
}

const { default: fileLines } = await import("/src/components/fontawesome/light/file-lines.svg?raw");
const { default: infoIcon } = await import("/src/components/fontawesome/dark/circle-info.svg?raw");
//const { default: paletteIcon } = await import("/src/components/fontawesome/dark/palette.svg?raw");
const { default: wordIcon } = await import("/src/components/fontawesome/light/file-word.svg?raw");
const { default: pdfIcon } = await import("/src/components/fontawesome/light/file-pdf.svg?raw");


interface Props {
    active?: SectionNames;
}

const { active } = Astro.props;
// background-color:  #F7F7F2;
---
<style>
    .nav-item {
        fill: rgb(129, 132, 145);
    }
    .nav-item.selected {
        fill: white;
    }
    .nav-item {
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
    }
    .nav-item:hover {
        background-color: #ECA400;
    }
    .nav-item:hover::after {
        position: absolute;
        left: 70px;
        font-size: 14px;
        font-weight: bold;
        width: 100px;
        background-color: white;
        z-index: 20;
        opacity: 1;
   
    }
    .resume-icon:hover::after {
        top: 25px;
        content: 'My Resume';
    }
    .info-icon:hover::after {
        top: 95px;
        content: 'About Travis';
    }
    .portfolio-icon:hover::after {
        top: 100px;
        content: 'My Portfolio';
    }
    .word-download:hover::after {
        top: 150px;
        content: 'Download Resume in Word Format';
    }
    .pdf-download:hover::after {
        top: 220px;
        content: 'Download Resume in PDF Format';
    }
</style>

<div class="bg-neutral fixed top-0 left-0 min-h-screen text-base-100 w-16 navbar">
    <a href="/">
        <div class={`p-4 nav-item resume-icon ${active === SectionNames.RESUME ? 'selected' : ''}`}>
            <Icon innerHTML={fileLines}/>
        </div>
    </a>
    <a href="/about" ><div class={`p-4 nav-item info-icon ${active === SectionNames.INFO? 'selected' : ''}`}>
        <Icon innerHTML={infoIcon}/></div></a>
    <!-- <div class="p-4 nav-item portfolio-icon"><Icon innerHTML={paletteIcon} /></div> -->
    <a href="https://pub-479b04f83e964a22b45b4e6994250924.r2.dev/Travis Griffiths CV.docx" download>
        <div class="p-4 nav-item word-download"><Icon innerHTML={wordIcon} /></div>
    </a>
    <a href="https://pub-479b04f83e964a22b45b4e6994250924.r2.dev/Travis Griffiths CV.pdf" download>
        <div class="p-4 nav-item pdf-download"><Icon innerHTML={pdfIcon}/>    </div>
    </a>
</div>

